<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theStoryboardCode</key>
	<string>粘贴</string>
	<key>theKey</key>
	<string>#define connectImWithToken dems_deleteTotalOrderName
#define saveContext dems_batchTempGoodsID
#define goToLoginVC dems_modifyTotalOrderDic
#define goToMainVC dems_saveSomeGoodsInfo
#define LoginOut dems_sendTempGroupConfig
#define isLoginWithUserId dems_deleteOfflineUserTypeID
#define showViewWithDate dems_requestFullCacheList
#define hideViewWithAnimation dems_requestThePaymentTypeID
#define datePickerView dems_addTempFriendName
#define managerDidRecvGetMessageReq dems_saveVipMemberList
#define managerDidRecvShowMessageReq dems_resetNewPaymentStatus
#define managerDidRecvLaunchFromWXReq dems_initNewOrderTypeID
#define managerDidRecvMessageResponse dems_saveFreeGroupDic
#define managerDidRecvAuthResponse dems_creatVipFriendID
#define managerDidRecvAddCardResponse dems_bindVipOrderList
#define managerDidRecvLoginUserJudge dems_initVipDeviceToken
#define zlctManagerLoginOpenId dems_refreshHotGoodsDic
#define managerWeixinPayCallbackToAlter dems_updateOldCacheName
#define zlctFail dems_resetFreePaymentInfo
#define wechatLoginByRequestForUserInfo dems_parseHotCacheAttribute
#define removeViewController dems_requestNewDeviceTypeID
#define customBackItemWithTarget dems_loadNewGroupAttribute
#define rt_customBackItemWithTarget dems_modifyTheCacheDic
#define rt_navigationBarClass dems_unbindVipMemberConfig
#define filterValidTags dems_makeFullGoodsData
#define startLogPageView dems_showHotGoodsName
#define stopLogPageView dems_updateOnlineCacheAttribute
#define addNotification dems_refreshTheFriendToken
#define removeNotification dems_queryFullGroupName
#define findNotification dems_parseVipUserStatus
#define showLocalNotificationAtFront dems_batchUserAttribute
#define deleteLocalNotificationWithIdentifierKey dems_configVipCacheTypeID
#define deleteLocalNotification dems_updateOfflineMemberInfo
#define findLocalNotificationWithIdentifier dems_makeThePaymentInfo
#define crashLogON dems_saveOldCacheID
#define clearAllLocalNotifications dems_initOldFriendStatus
#define registrationID dems_saveOfflineCacheTypeID
#define registrationIDCompletionHandler dems_addVipPaymentInfo
#define my_description dems_configFullOrderConfig
#define jr_swizzleMethod dems_sendFreePaymentStatus
#define jr_swizzleClassMethod dems_requestTempDeviceName
#define onTencentReq dems_unbindSomePaymentID
#define onTencentResp dems_searchFreeOrderID
#define sendRespMessageToTencentApp dems_requestTheDeviceInfo
#define isTencentAppInstall dems_resetTempFriendTypeID
#define isTencentAppSupportTencentApi dems_initOldUserTypeID
#define getListPhotoWithParams dems_configTotalFriendConfig
#define addShareWithParams dems_findFullGoodsConfig
#define uploadPicWithParams dems_parseOfflineCacheInfo
#define addAlbumWithParams dems_makeFreeOrderList
#define checkPageFansWithParams dems_batchTempFriendName
#define addOneBlogWithParams dems_parseOnlineCacheAttribute
#define addTopicWithParams dems_downloadOldUserData
#define sendStory dems_showTempFriendAttribute
#define sendAppInvitationWithDescription dems_unbindVipOrderTypeID
#define sendChallenge dems_findSomeDeviceAttribute
#define sendGiftRequest dems_batchSomeGroupID
#define getListAlbumResponse dems_resetNewFriendConfig
#define getListPhotoResponse dems_sendTotalGoodsName
#define checkPageFansResponse dems_downloadFreeFriendDic
#define addShareResponse dems_downloadAllMemberInfo
#define addAlbumResponse dems_findNewDeviceStatus
#define uploadPicResponse dems_deleteNewOrderInfo
#define addOneBlogResponse dems_queryAllPaymentTypeID
#define addTopicResponse dems_searchVipGoodsAttribute
#define getVipInfoResponse dems_searchTempGroupAttribute
#define getVipRichInfoResponse dems_makeHotCacheToken
#define sendStoryResponse dems_updateSomeFriendToken
#define iphoneQZoneInstalled dems_refreshGoodsToken
#define iphoneQZoneSupportSSOLogin dems_unbindTempCacheID
#define openSDKWebViewQQShareEnable dems_saveHotOrderConfig
#define getListAlbum dems_requestFreeUserTypeID
#define getVipInfo dems_queryFullFriendAttribute
#define getVipRichInfo dems_updateSomeDeviceList
#define SendReqToQQGroupTribe dems_showFreeGroupData
#define getQQUinOnlineStatues dems_showSomeGroupToken
#define reqFromSeq dems_makeOfflineFriendList
#define respFromReq dems_saveNewCacheDic
#define isVaild dems_unbindGoodsAttribute
#define objectWithOrderNo dems_creatThePaymentConfig
#define objectWithUin dems_searchOfflineUserName
#define objectWithGroup dems_showOfflineGoodsName
#define respWithContent dems_deleteOfflineGroupToken
#define connectAliPaySocial dems_searchSomeMemberName
#define addByBigInteger dems_addCacheConfig
#define addByInteger dems_creatSomeMemberStatus
#define subByBigInteger dems_refreshTempOrderTypeID
#define subByInteger dems_refreshOnlineMemberTypeID
#define multiplyByBigInteger dems_creatHotMemberData
#define multiplyByInteger dems_makeTempCacheData
#define divideAndReminderByBigInteger dems_getCacheData
#define divideAndReminderByInteger dems_addOldFriendConfig
#define divideByBigInteger dems_updateFullGoodsAttribute
#define divideByInteger dems_addFullCacheAttribute
#define reminderByBigInteger dems_addTempPaymentToken
#define reminderByInteger dems_downloadHotPaymentName
#define bitwiseXorByBigInteger dems_saveOldUserList
#define bitwiseXorByInteger dems_unbindUserData
#define bitwiseOrByBigInteger dems_updateTotalFriendToken
#define bitwiseOrByInteger dems_sendFreeMemberData
#define bitwiseAndByBigInteger dems_parseVipFriendName
#define bitwiseAndByInteger dems_bindAllFriendInfo
#define shiftLeft dems_bindSomeMemberStatus
#define shiftRight dems_unbindTheFriendInfo
#define gcdByBigInteger dems_modifyHotGoodsDic
#define gcdByInteger dems_makeTempFriendData
#define modInverseByBigInteger dems_sendSomeUserName
#define modInverseByInteger dems_configHotGroupAttribute
#define negate dems_creatOldMemberAttribute
#define toInteger dems_saveDeviceConfig
#define getUnsignBytes dems_sendFullPaymentAttribute
#define enabledDebug dems_batchSomeDeviceDic
#define sdkLog dems_refreshFreePaymentInfo
#define idfa dems_queryVipMemberToken
#define debug dems_getOnlineGroupDic
#define SSDKSetupAliPaySocialParamsByText dems_batchTempUserConfig
#define SSDKSetupAliPaySocialByAppId dems_configTempDeviceID
#define signString dems_getVipUserTypeID
#define algorithmName dems_sendFullFriendStatus
#define base64EncodingWithLineLength dems_searchOnlineGroupConfig
#define urlEncodedString dems_deleteCacheData
#define decodeString dems_showAllFriendAttribute
#define verifyString dems_updateAllGoodsList
#define managerAlipayCallbackToAlter dems_configOfflinePaymentAttribute
#define alipayCallbackAndShowAlter dems_bindTheFriendData
#define payOrder dems_modifyTheMemberData
#define processOrderWithPaymentResult dems_updateFullMemberList
#define queryTidFactor dems_requestNewFriendDic
#define fetchOrderInfoFromH5PayUrl dems_getHotPaymentConfig
#define payUrlOrder dems_requestOfflineFriendInfo
#define authWithInfo dems_configVipPaymentID
#define processAuthResult dems_modifyOfflinePaymentConfig
#define auth_V2WithInfo dems_bindVipGoodsDic
#define processAuth_V2Result dems_bindTempDeviceStatus
#define defaultService dems_saveFreeOrderStatus
#define fetchTradeToken dems_saveTheGroupData
#define isLogined dems_showDeviceID
#define currentVersion dems_findVipFriendToken
#define wapDescription dems_showSomeUserName
#define addDoneOnKeyboardWithTarget dems_initHotCacheStatus
#define addRightButtonOnKeyboardWithText dems_requestFreeUserInfo
#define addRightButtonOnKeyboardWithImage dems_findFreeGoodsInfo
#define addCancelDoneOnKeyboardWithTarget dems_requestHotUserDic
#define addLeftRightOnKeyboardWithTarget dems_bindOfflineOrderDic
#define addPreviousNextDoneOnKeyboardWithTarget dems_saveOrderName
#define addPreviousNextRightOnKeyboardWithTarget dems_loadTheFriendData
#define addTextFieldView dems_creatFullGoodsToken
#define removeTextFieldView dems_refreshFreeGroupList
#define addResponderFromView dems_unbindTotalDeviceStatus
#define removeResponderFromView dems_unbindHotGroupInfo
#define registerTextFieldViewClass dems_creatOnlineGoodsTypeID
#define unregisterTextFieldViewClass dems_resetTheGoodsID
#define reloadLayoutIfNeeded dems_batchSomeCacheStatus
#define goPrevious dems_addHotDeviceData
#define goNext dems_updateOldOrderTypeID
#define registerAllNotifications dems_resetFullMemberName
#define unregisterAllNotifications dems_initOldDeviceList
#define disableInViewControllerClass dems_parseUserID
#define disableDistanceHandlingInViewControllerClass dems_getFreeGroupConfig
#define removeDisableInViewControllerClass dems_makeHotMemberID
#define removeDisableDistanceHandlingInViewControllerClass dems_loadOfflineUserAttribute
#define disableToolbarInViewControllerClass dems_refreshOnlineDeviceData
#define removeDisableToolbarInViewControllerClass dems_loadAllUserAttribute
#define considerToolbarPreviousNextInViewClass dems_modifyTempPaymentConfig
#define removeConsiderToolbarPreviousNextInViewClass dems_modifyFullFriendID
#define disabledInViewControllerClasses dems_searchSomeOrderConfig
#define disabledToolbarInViewControllerClasses dems_saveOfflineUserInfo
#define consideredToolbarPreviousNextViewClasses dems_getGroupToken
#define sortedArrayByTag dems_searchTotalOrderID
#define sortedArrayByPosition dems_requestNewGroupAttribute
#define superviewOfClassType dems_findTotalOrderID
#define convertTransformToView dems_getNewFriendList
#define IndexArray dems_showTempPaymentConfig
#define LetterSortArray dems_updateOnlineMemberToken
#define SortArray dems_searchHotFriendInfo
#define showAlertWith dems_saveTotalDeviceAttribute
#define showAlertWithTwo dems_updateOfflineGoodsAttribute
#define fadeShowWith dems_downloadAllUserStatus
#define fadeShowWithNoNet dems_parseCacheName
#define encodeData dems_creatThePaymentName
#define decodeData dems_saveOnlineFriendList
#define decodeBytes dems_modifyOldGroupTypeID
#define stringByEncodingData dems_findTempFriendTypeID
#define stringByEncodingBytes dems_bindHotFriendTypeID
#define webSafeEncodeData dems_addFullGoodsToken
#define webSafeDecodeData dems_saveVipMemberData
#define webSafeEncodeBytes dems_loadTheGoodsID
#define webSafeDecodeBytes dems_creatTempGoodsStatus
#define stringByWebSafeEncodingData dems_sendVipPaymentStatus
#define stringByWebSafeEncodingBytes dems_makeTempDeviceTypeID
#define webSafeDecodeString dems_getFriendList
#define addTapBlock dems_unbindHotUserTypeID
#define AFHTTPSessionGET dems_searchTheOrderInfo
#define AFHTTPDataManaager dems_makeTotalUserToken
#define checkTelNumber dems_getNewCacheInfo
#define checkEmailStr dems_downloadSomeMemberID
#define checkZipCodeStr dems_batchAllGroupID
#define createActivityIndicator dems_showOnlineGoodsData
#define stopActivityIndicator dems_initOfflineDeviceID
#define lockMobileNumber dems_configTotalMemberToken
#define haveAllCity dems_sendOfflinePaymentTypeID
#define haveAllCounty dems_bindTotalPaymentStatus
#define disable_emoji dems_getAllDeviceName
#define checkOutText dems_showAllDeviceList
#define checkOutPasswordText dems_addVipDeviceConfig
#define checkOutPasswordTexts dems_requestOfflineCacheName
#define singleClickButtonRestriction dems_parseOnlineMemberName
#define showBigImage dems_creatOldGroupConfig
#define scanBigImageWithImageView dems_unbindAllCacheID
#define showNoNetworkConnectTip dems_findTheOrderToken
#define createBlankScreenActivityIndicator dems_creatFreeMemberList
#define stopBlankScreenActivityIndicator dems_downloadSomeFriendName
#define lockNickNameString dems_downloadOldFriendData
#define addHideKeyboardButton dems_modifySomeGoodsConfig
#define checkInvitationCodeStr dems_creatGroupName
#define verifyIDCardNumber dems_updateAllCacheToken
#define lockIdString dems_getOfflinePaymentID
#define transitionDateToString dems_requestOldMemberConfig
#define timeDifferenceForNow dems_bindFreeMemberInfo
#define lockBankNumber dems_saveTheGroupStatus
#define changeBigNumber dems_searchSomeDeviceDic
#define changeBigNumberTwo dems_unbindNewUserTypeID
#define changeBigNumberZero dems_bindCacheStatus
#define changeBigNumberIntegral dems_initTempFriendAttribute
#define reviseFloat dems_saveOnlineFriendInfo
#define qrCodeImageWithContent dems_deleteTotalCacheStatus
#define getDeviceIPIpAddresses dems_showAllGroupList
#define haveAllProvince dems_searchTempCacheAttribute
#define clearAwayLoginState dems_parseFreePaymentStatus
#define encryptWithText dems_parseTempCacheID
#define decryptWithText dems_findFullDeviceStatus
#define colorByMultiplyingByRed dems_makeVipGoodsData
#define colorByAddingRed dems_searchCacheInfo
#define colorByLighteningToRed dems_sendNewCacheData
#define colorByDarkeningToRed dems_addSomeCacheData
#define colorByMultiplyingBy dems_sendSomeUserID
#define colorByAdding dems_modifyAllCacheInfo
#define colorByLighteningTo dems_refreshTotalOrderAttribute
#define colorByDarkeningTo dems_showNewMemberID
#define colorByMultiplyingByColor dems_loadHotGroupAttribute
#define colorByAddingColor dems_batchTotalGroupInfo
#define colorByLighteningToColor dems_bindFullOrderList
#define colorByDarkeningToColor dems_refreshFullGroupInfo
#define colorWithRGBHex dems_refreshHotGroupToken
#define colorWithName dems_unbindSomeMemberStatus
#define arrayFromRGBAComponents dems_initSomeOrderID
#define colorByLuminanceMapping dems_resetTempUserInfo
#define stringFromColor dems_bindHotOrderID
#define hexStringFromColor dems_queryFreeMemberToken
#define isDark dems_refreshTheUserAttribute
#define randomColor dems_searchTempDeviceStatus
#define fetchStyleString dems_creatFreeUserToken
#define rgbColor dems_updateSomeDeviceID
#define alertWithTitle dems_updateNewGroupData
#define willReleaseObject dems_resetVipGoodsToken
#define willReleaseChild dems_searchTheCacheID
#define willReleaseChildren dems_addGoodsAttribute
#define addClassNamesToWhitelist dems_bindTheGroupDic
#define swizzleSEL dems_modifyHotGroupStatus
#define willDealloc dems_findSomeMemberName
#define isAnyObjectLeakedAtPtrs dems_downloadVipFriendList
#define addLeakedObject dems_getVipMemberConfig
#define reachabilityWithHostName dems_getSomePaymentData
#define reachabilityForInternetConnection dems_findTheCacheToken
#define reachabilityForLocalWiFi dems_configSomeUserList
#define startNotifier dems_addOfflineFriendID
#define stopNotifier dems_initSomeDeviceData
#define currentReachabilityStatus dems_modifyUserToken
#define connectionRequired dems_showAllGoodsList
#define didSelectRollLabel dems_saveTempDeviceStatus
#define textFieldDidDeleteBackward dems_unbindOnlineUserData
#define changeAddressToGeocode dems_downloadNewUserID
#define locateCurrentMap dems_showOldDeviceID
#define addReturnAction dems_saveOfflinePaymentStatus
#define checkBigDate dems_deleteFreeDeviceData
#define checkBigTime dems_batchSomeUserTypeID
#define checkBigDateTime dems_unbindVipDeviceInfo
#define getDistanceByDay1 dems_initSomeDeviceAttribute
#define isEmptyString dems_updateVipPaymentTypeID
#define loadMutableStringWithString dems_showThePaymentID
#define loadSizeWithString dems_sendTheFriendTypeID
#define creatButton dems_unbindOfflineUserList
#define cornerRadiusAction dems_refreshOfflineGroupID
#define flowColorWithView dems_makeTempGroupConfig
#define jk_stringWithDateStyle dems_parseNewFriendInfo
#define jk_stringWithFormat dems_sendFreeFriendStatus
#define jk_dateWithDaysFromNow dems_downloadOnlineMemberName
#define jk_dateWithDaysBeforeNow dems_showTheMemberStatus
#define jk_dateWithHoursFromNow dems_unbindTotalCacheTypeID
#define jk_dateWithHoursBeforeNow dems_deleteOldMemberToken
#define jk_dateWithMinutesFromNow dems_parseTheUserName
#define jk_dateWithMinutesBeforeNow dems_requestFullDeviceStatus
#define jk_isEqualToDateIgnoringTime dems_showAllPaymentList
#define jk_isSameWeekAsDate dems_requestTheGoodsToken
#define jk_isSameMonthAsDate dems_showSomeDeviceTypeID
#define jk_isSameYearAsDate dems_addCacheDic
#define jk_isEarlierThanDate dems_sendHotOrderConfig
#define jk_isLaterThanDate dems_initOrderAttribute
#define jk_dateByAddingYears dems_batchFreeCacheToken
#define jk_dateBySubtractingYears dems_initHotCacheTypeID
#define jk_dateByAddingMonths dems_sendAllGroupDic
#define jk_dateBySubtractingMonths dems_makeTheUserName
#define jk_dateByAddingDays dems_resetTotalCacheTypeID
#define jk_dateBySubtractingDays dems_searchGoodsConfig
#define jk_dateByAddingHours dems_querySomeFriendData
#define jk_dateBySubtractingHours dems_makeVipFriendAttribute
#define jk_dateByAddingMinutes dems_batchOfflineDeviceAttribute
#define jk_dateBySubtractingMinutes dems_sendHotFriendData
#define jk_secondsAfterDate dems_parseAllGroupStatus
#define jk_minutesAfterDate dems_downloadOldMemberInfo
#define jk_minutesBeforeDate dems_deleteFreeUserDic
#define jk_hoursAfterDate dems_deleteNewUserDic
#define jk_hoursBeforeDate dems_saveOnlineDeviceID
#define jk_daysAfterDate dems_creatHotFriendToken
#define jk_daysBeforeDate dems_creatFreeGoodsList
#define jk_distanceDaysToDate dems_requestAllPaymentList
#define jk_distanceMonthsToDate dems_findTotalCacheAttribute
#define jk_distanceYearsToDate dems_refreshNewPaymentData
#define jk_currentCalendar dems_queryOfflineDeviceDic
#define jk_dateTomorrow dems_searchGroupAttribute
#define jk_dateYesterday dems_refreshTotalOrderList
#define jk_isToday dems_downloadSomeMemberList
#define jk_isTomorrow dems_modifyOfflineDeviceAttribute
#define jk_isYesterday dems_searchFullGoodsAttribute
#define jk_isThisWeek dems_updateVipFriendInfo
#define jk_isNextWeek dems_batchNewFriendConfig
#define jk_isLastWeek dems_bindOldMemberData
#define jk_isThisMonth dems_loadOfflineMemberDic
#define jk_isNextMonth dems_queryVipFriendDic
#define jk_isLastMonth dems_makeCacheDic
#define jk_isThisYear dems_deleteOldGoodsStatus
#define jk_isNextYear dems_saveTempPaymentTypeID
#define jk_isLastYear dems_saveNewFriendDic
#define jk_isInFuture dems_updateMemberData
#define jk_isInPast dems_parseTempOrderName
#define jk_isTypicallyWorkday dems_modifyTheGoodsStatus
#define jk_isTypicallyWeekend dems_initTheDeviceList
#define jk_previousRow dems_refreshTotalOrderConfig
#define jk_nextRow dems_searchOfflinePaymentInfo
#define jk_previousItem dems_initNewGoodsAttribute
#define jk_nextItem dems_queryVipGroupData
#define jk_nextSection dems_downloadOfflinePaymentList
#define jk_previousSection dems_unbindFullMemberData
#define jk_isIncludingEmoji dems_queryOnlineGroupDic
#define jk_removedEmojiString dems_addSomeOrderInfo
#define jk_stringForKey dems_getTempCacheAttribute
#define jk_arrayForKey dems_addOldGoodsDic
#define jk_dictionaryForKey dems_parseFreePaymentAttribute
#define jk_dataForKey dems_sendUserToken
#define jk_stringArrayForKey dems_creatVipGroupToken
#define jk_integerForKey dems_saveNewPaymentList
#define jk_floatForKey dems_updateTotalPaymentAttribute
#define jk_doubleForKey dems_batchFullOrderList
#define jk_boolForKey dems_queryFullPaymentToken
#define jk_URLForKey dems_loadTheMemberStatus
#define jk_setObject dems_creatOldGoodsList
#define jk_arcObjectForKey dems_makeOldGroupName
#define jk_setArcObject dems_showAllOrderTypeID
#define jk_cornerRadius dems_updateSomeGoodsData
#define jk_setRoundedCorners dems_getTempGoodsConfig
#define jk_shadowWithColor dems_refreshFullCacheData
#define jk_removeFromSuperviewWithFadeDuration dems_showOnlineDeviceStatus
#define jk_addSubview dems_unbindOnlineMemberToken
#define jk_removeFromSuperviewWithTransition dems_loadFreeOrderConfig
#define jk_rotateByAngle dems_showNewUserTypeID
#define jk_moveToPoint dems_searchOldCacheConfig
#define scaledToSize dems_saveVipDeviceStatus
#define scaledToMaxSize dems_requestTheUserInfo
#define fullResolutionImageFromALAsset dems_downloadNewGroupConfig
#define fullScreenImageALAsset dems_makeNewOrderID
#define imageWithFileType dems_findNewUserTypeID
#define dataSmallerThan dems_resetTotalPaymentToken
#define dataForCodingUpload dems_refreshTempGoodsTypeID
#define showInViewController dems_bindTheGroupList
#define showAlertInViewController dems_querySomePaymentTypeID
#define showActionSheetInViewController dems_deleteTempOrderConfig
#define jk_hasKey dems_initHotGoodsConfig
#define jk_numberForKey dems_queryFullGroupAttribute
#define jk_decimalNumberForKey dems_loadFreePaymentName
#define jk_unsignedIntegerForKey dems_findAllDeviceData
#define jk_int16ForKey dems_unbindOfflinePaymentToken
#define jk_int32ForKey dems_refreshTheMemberList
#define jk_int64ForKey dems_deleteVipMemberDic
#define jk_charForKey dems_getOfflineUserInfo
#define jk_shortForKey dems_creatFreeCacheList
#define jk_longLongForKey dems_sendNewPaymentStatus
#define jk_unsignedLongLongForKey dems_parseOfflineOrderID
#define jk_dateForKey dems_loadTempOrderDic
#define jk_CGFloatForKey dems_showOnlineFriendTypeID
#define jk_pointForKey dems_refreshOnlinePaymentConfig
#define jk_sizeForKey dems_queryTempPaymentID
#define jk_rectForKey dems_updateOldOrderDic
#define jk_setObj dems_deleteVipCacheInfo
#define jk_setString dems_loadTotalDeviceInfo
#define jk_setBool dems_deleteHotCacheStatus
#define jk_setInt dems_downloadOldOrderConfig
#define jk_setInteger dems_downloadHotGroupInfo
#define jk_setUnsignedInteger dems_findVipUserName
#define jk_setCGFloat dems_loadAllGroupList
#define jk_setChar dems_creatTheGroupDic
#define jk_setFloat dems_updateAllGoodsID
#define jk_setDouble dems_getOfflineFriendTypeID
#define jk_setLongLong dems_findTotalGoodsToken
#define jk_setPoint dems_addNewUserDic
#define jk_setSize dems_makeHotGoodsConfig
#define jk_setRect dems_creatHotGroupList
#define jk_accurateVerifyIDCardNumber dems_makeTempFriendList
#define jk_isValidWithMinLenth dems_searchTheGoodsToken
#define jk_isMobileNumberClassification dems_findVipFriendTypeID
#define jk_isMobileNumber dems_updateNewDeviceToken
#define jk_isEmailAddress dems_configFreePaymentConfig
#define jk_simpleVerifyIdentityCardNum dems_findTheGoodsID
#define jk_isCarNumber dems_updateCacheData
#define jk_bankCardluhmCheck dems_getOldOrderToken
#define jk_isIPAddress dems_makeTempPaymentInfo
#define jk_isMacAddress dems_searchAllGroupInfo
#define jk_isValidUrl dems_makeTempFriendName
#define jk_isValidChinese dems_makeVipFriendTypeID
#define jk_isValidPostalcode dems_deleteOfflineFriendID
#define jk_isValidTaxNo dems_downloadFreeUserDic
#define jk_heightWithFont dems_bindOnlineCacheToken
#define jk_widthWithFont dems_addTotalDeviceName
#define jk_sizeWithFont dems_updateNewMemberAttribute
#define jk_reverseString dems_unbindFreePaymentToken
#define jk_day dems_querySomeDeviceToken
#define jk_month dems_searchThePaymentAttribute
#define jk_year dems_initOfflineOrderAttribute
#define jk_hour dems_modifyAllOrderName
#define jk_minute dems_configOnlineFriendData
#define jk_second dems_getTempPaymentToken
#define jk_daysInYear dems_creatVipGroupAttribute
#define jk_isLeapYear dems_deleteOldFriendDic
#define jk_weekOfYear dems_refreshThePaymentName
#define jk_formatYMD dems_refreshFullCacheTypeID
#define jk_weeksOfMonth dems_updateTempDeviceToken
#define jk_begindayOfMonth dems_saveFreeGroupToken
#define jk_lastdayOfMonth dems_configTempUserInfo
#define jk_dateAfterDay dems_saveFreeGroupID
#define jk_dateAfterDate dems_downloadOldOrderAttribute
#define jk_dateAfterMonth dems_bindSomeFriendTypeID
#define jk_offsetYears dems_creatNewGroupConfig
#define jk_offsetMonths dems_creatOnlineGoodsConfig
#define jk_offsetDays dems_initFreeGroupID
#define jk_offsetHours dems_unbindOfflinePaymentID
#define jk_daysAgo dems_modifyFullGroupAttribute
#define jk_weekday dems_batchNewMemberName
#define jk_dayFromWeekday dems_bindAllGroupAttribute
#define jk_isSameDay dems_bindHotCacheName
#define jk_monthWithMonthNumber dems_batchFreeDeviceConfig
#define jk_stringWithDate dems_downloadFreeGroupAttribute
#define jk_dateWithString dems_refreshVipGoodsAttribute
#define jk_daysInMonth dems_initPaymentList
#define jk_timeInfoWithDate dems_findHotMemberToken
#define jk_timeInfoWithDateString dems_findTempOrderID
#define jk_timeInfo dems_updateFullPaymentConfig
#define jk_ymdFormat dems_resetOldOrderData
#define jk_hmsFormat dems_unbindTempGroupDic
#define jk_ymdHmsFormat dems_showFullGoodsDic
#define wgs84ToGcj02 dems_downloadGroupInfo
#define gcj02ToWgs84 dems_sendOldGroupData
#define wgs84ToBd09 dems_configFreeGoodsStatus
#define gcj02ToBd09 dems_makeOnlineGoodsInfo
#define bd09ToGcj02 dems_bindGroupToken
#define bd09ToWgs84 dems_getFreeGoodsInfo
#define wcSessionCompress dems_updateOnlineGoodsToken
#define wcTimelineCompress dems_creatVipPaymentData
#define presentContentView dems_makeTempDeviceConfig
#define dismissWithDuration dems_findTheUserAttribute
#define popupControllerWithLayoutType dems_updateDeviceToken
#define popupControllerLayoutInCenterWithTransitStyle dems_requestFreeGroupToken
#define popupControllerWillPresent dems_unbindDeviceConfig
#define popupControllerDidPresent dems_downloadTheUserID
#define popupControllerWillDismiss dems_initNewUserName
#define popupControllerDidDismiss dems_updateVipCacheList
#define hyb_imageWithColor dems_modifyOfflinePaymentStatus
#define hyb_clipToSize dems_getNewGroupData
#define hyb_clipCircleToSize dems_parseGoodsID
#define clipedImageFromDiskWithKey dems_searchOnlineFriendName
#define storeClipedImage dems_refreshTheUserToken
#define shared dems_bindOfflineMemberData
#define imagesCacheSize dems_makeOnlinePaymentData
#define clearClipedImagesCache dems_modifyOfflinePaymentInfo
#define hyb_addCorner dems_creatAllCacheConfig
#define hyb_addCornerRadius dems_initFreeOrderStatus
#define hyb_setImage dems_getVipCacheStatus
#define hyb_setCircleImage dems_getTotalGoodsID
#define hyb_setBackgroundImage dems_bindNewFriendName
#define getShowPopAnimationWithType dems_creatOldFriendDic
#define getHidenPopAnimationWithType dems_addTheGoodsInfo
#define popContentView dems_unbindOnlineFriendID
#define popUpContentView dems_sendFullDeviceName
#define popSideContentView dems_parseNewUserToken
#define kkLetItDown dems_searchOnlineFriendList
#define hidenPopView dems_resetFreeOrderDic
#define getCurrentPopView dems_creatAllDeviceData
#define didPressedMenuItem dems_deleteFullCacheConfig
#define menuView dems_modifyOrderList
#define numbersOfTitlesInMenuView dems_makePaymentInfo
#define slideMenuAtProgress dems_getVipDeviceName
#define selectItemAtIndex dems_bindHotPaymentName
#define updateTitle dems_updateSomeUserStatus
#define updateAttributeTitle dems_creatFreePaymentID
#define updateBadgeViewAtIndex dems_searchAllFriendName
#define resetFrames dems_refreshHotCacheToken
#define refreshContenOffset dems_updateMemberList
#define deselectedItemsIfNeeded dems_searchOfflineDeviceList
#define moveToPostion dems_showFreeCacheTypeID
#define numbersOfChildControllersInPageController dems_findNewGoodsTypeID
#define pageController dems_searchUserToken
#define willResignActive dems_getOfflineFriendList
#define willEnterForeground dems_sendOldMemberConfig
#define forceLayoutSubviews dems_modifyOfflineFriendConfig
#define countDownButtonHandler dems_loadAllCacheTypeID
#define countDownChanging dems_resetOnlineOrderDic
#define countDownFinished dems_creatFullCacheDic
#define startCountDownWithSecond dems_initVipGroupStatus
#define stopCountDown dems_updateTheCacheName
#define loadWebURLSring dems_bindTheUserStatus
#define loadWebHTMLSring dems_modifyOldMemberTypeID
#define POSTWebURLSring dems_searchFullCacheDic
#define addTextDidChangeHandler dems_updateSomePaymentList
#define addTextLengthDidMaxHandler dems_configOfflineOrderAttribute
#define emptyActionViewWithImageStr dems_creatOldFriendConfig
#define emptyViewWithImageStr dems_refreshOldMemberData
#define emptyViewWithCustomView dems_creatTempOrderList
#define ly_startLoading dems_deleteNewFriendDic
#define ly_endLoading dems_addFullDeviceConfig
#define ly_showEmptyView dems_loadTotalCacheList
#define ly_hideEmptyView dems_requestAllGroupData
#define showNumKeyboardViewAnimateWithPrice dems_loadHotGoodsName
#define showAtTop dems_queryTotalOrderAttribute
#define showLongAtTop dems_sendUserInfo
#define showLong dems_findTheDeviceAttribute
#define rotate dems_getFreeDeviceAttribute
#define isPlay dems_bindTempGoodsStatus
#define startCapture dems_showTheGoodsConfig
#define restartCapture dems_creatHotPaymentTypeID
#define defaultPhotoConfiguration dems_configTempCacheConfig
#define modelWithAsset dems_findSomeGoodsName
#define showPreviewAnimated dems_unbindTheCacheTypeID
#define showPhotoLibraryWithSender dems_deleteTempGoodsData
#define previewPhotos dems_batchTotalCacheConfig
#define showPhotoLibrary dems_batchNewUserData
#define previewSelectedPhotos dems_queryHotMemberList
#define loadNormalImage dems_configTheGoodsData
#define loadGifImage dems_getUserTypeID
#define loadImage dems_bindTempGroupList
#define loadLivePhoto dems_bindFreePaymentStatus
#define loadNetVideo dems_configNewGroupConfig
#define resetCellStatus dems_searchTempMemberName
#define reloadGifLivePhoto dems_resetOfflineCacheData
#define pausePlay dems_findFreePaymentName
#define resetScale dems_parseAllGoodsTypeID
#define handlerEndDisplaying dems_updateTempGroupList
#define resumePlay dems_queryTotalDeviceInfo
#define singleTapAction dems_resetFreeDeviceToken
#define resumeGif dems_updateFullFriendName
#define pauseGif dems_sendFullOrderName
#define stopPlayLivePhoto dems_findNewFriendConfig
#define haveLoadVideo dems_searchFreeGroupConfig
#define stopPlayVideo dems_downloadTempDeviceInfo
#define seekToZero dems_getOldCacheDic
#define stopPlayNetVideo dems_downloadHotPaymentAttribute
#define saveImageToAblum dems_requestOfflineMemberID
#define saveVideoToAblum dems_saveSomeCacheID
#define getAllAssetInPhotoAlbumWithAscending dems_bindOnlineGroupName
#define getCameraRollAlbumList dems_downloadVipFriendStatus
#define getPhotoAblumList dems_parseTheGroupInfo
#define requestSelectedImageForAsset dems_requestOfflineCacheToken
#define requestOriginalImageDataForAsset dems_batchOldGroupInfo
#define requestOriginalImageForAsset dems_sendOfflineUserConfig
#define requestVideoForAsset dems_bindTheOrderDic
#define transformAssetType dems_bindTotalPaymentAttribute
#define getDuration dems_bindOrderData
#define judgeAssetisInLocalAblum dems_modifyTotalCacheTypeID
#define transformToGifImageWithData dems_saveTheUserAttribute
#define requestAssetFileUrl dems_batchOldGoodsID
#define analysisEverySecondsImageForAsset dems_parseHotGroupName
#define exportEditVideoForAsset dems_showMemberInfo
#define exportVideoForAsset dems_resetSomeGoodsConfig
#define getVideoExportFilePath dems_showTheMemberData
#define getPhotoInResult dems_requestSomeOrderList
#define anialysisAssets dems_refreshSomeCacheList
#define getPhotosBytesWithArray dems_queryAllFriendID
#define markSelectModelInArr dems_parseOnlineGroupDic
#define havePhotoLibraryAuthority dems_resetOnlineGroupToken
#define haveCameraAuthority dems_addOldDeviceAttribute
#define haveMicrophoneAuthority dems_refreshOnlineFriendStatus
#define zlLocalizedStringForKey dems_refreshFreeDeviceDic
#define zlPhotoBrowserBundle dems_unbindOfflineDeviceStatus
#define resetLanguage dems_modifyHotOrderTypeID
#define numberOfItemsInPagerView dems_addOfflineUserConfig
#define pagerView dems_findVipMemberToken
#define layoutForPagerView dems_requestHotPaymentData
#define pagerViewDidScroll dems_downloadHotGoodsTypeID
#define pagerViewWillBeginDragging dems_sendFullFriendID
#define pagerViewDidEndDragging dems_configTheGroupList
#define pagerViewWillBeginDecelerating dems_parseFreeGoodsName
#define pagerViewDidEndDecelerating dems_bindFreeGoodsID
#define pagerViewWillBeginScrollingAnimation dems_sendSomeGoodsConfig
#define pagerViewDidEndScrollingAnimation dems_requestVipMemberConfig
#define scrollToItemAtIndex dems_findNewPaymentList
#define scrollToNearlyIndexAtDirection dems_makeOnlineCacheList
#define curIndexCell dems_parseHotOrderStatus
#define visibleIndexs dems_getTempGroupAttribute
#define pagerViewTransformLayout dems_queryFullUserID
#define wm_setBackgroundColor dems_unbindTheCacheStatus
#define wm_setContentAlpha dems_downloadHotFriendStatus
#define wm_setTranslationY dems_configOldOrderConfig
#define wm_getBackgroundColor dems_initVipPaymentData
#define wm_reset dems_addFullGroupTypeID
#define zlctMaskShowMessage dems_downloadTempMemberDic
#define zlctMaskLoadFail dems_saveTheMemberID
#define stupidLoadFail dems_deleteSomePaymentConfig
#define SooStupidLoadFail dems_refreshFullFriendID
#define zlctKKMaskShowMessage dems_resetTotalFriendAttribute
#define zlctKKFailShowMessage dems_bindOfflineFriendDic
#define KOKForceShowMessage dems_getNewMemberData
#define showCustomIcon dems_parseSomeGoodsList
#define showSuccess dems_resetTotalGoodsID
#define fffShowLongtext dems_initAllDeviceAttribute
#define showError dems_queryOfflineDeviceToken
#define showInfo dems_updateNewUserStatus
#define showWarn dems_resetTempGoodsID
#define showMessage dems_loadOldDeviceID
#define showAutoMessage dems_updateFreeOrderList
#define showIconMessage dems_batchTotalMemberTypeID
#define fffshowMessage dems_findOldPaymentList
#define showLoadToView dems_configOnlineGroupData
#define showProgressToView dems_refreshOldMemberName
#define hideHUDForView dems_creatNewMemberTypeID
#define kkHide dems_requestVipPaymentData
#define hideHUD dems_deleteSomeOrderAttribute
#define showHUDAddedTo dems_addTempMemberInfo
#define HUDForView dems_searchOfflineOrderTypeID
#define showAnimated dems_parseOfflineFriendStatus
#define hideAnimated dems_resetTheGroupInfo
#define hudWasHidden dems_showGroupAttribute
#define sheetWithTitle dems_searchAllGroupConfig
#define appendButtonsWithTitles dems_showTheUserList
#define appendButtonWithTitle dems_batchFriendInfo
#define lc_isX dems_queryHotGoodsName
#define lc_imageWithColor dems_updateTotalPaymentName
#define checkPhotoLibraryAuthorizationStatus dems_queryTempUserID
#define checkCameraAuthorizationStatus dems_showOnlineDeviceList
#define FFFPopToViewController dems_refreshFriendList
#define FFFRemoveViewController dems_refreshOnlineFriendInfo
#define FFFFontInDeviceIphone6s dems_configHotDeviceName
#define FFFHeightInDeviceIphone6s dems_saveTheDeviceData
#define presentVC dems_parseVipCacheDic
#define presentingVC dems_showSomeCacheID
#define addScrollViewForXib dems_makeGroupAttribute
#define addScrollViewForSB dems_requestVipGoodsData
#define LoadPart1ListAction dems_sendTheDeviceID
#define LoadPart1Type dems_bindOrderToken
#define LoadPart1DetialWithID dems_queryHotCacheTypeID
#define RegistPhone dems_batchOldMemberName
#define LoginPhone dems_addOldMemberID
#define LoadOrderListAction dems_requestFullGoodsDic
#define CancelOrder dems_saveFullPaymentData
#define LoadADListAction dems_parseTotalCacheList
#define changePassword dems_resetSomePaymentName</string>
</dict>
</plist>
